<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="ce-bodytext{f:if(
	condition: '{data.imageorient} == 25 || {data.imageorient} == 26',
	then: ' flex-grow-1'
	)}">
	<f:format.html>{data.bodytext}</f:format.html>
</div>

</html>
