<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:lo="http://typo3.org/ns/Lavitto/IconContent/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:if condition="{iconContentSettings.icon}">
	<div id="ce-icon-content-{data.uid}" class="icon{f:if(
		condition: '{data.imageorient} == 0 || {data.imageorient} == 8',
		then: ' text-center')}{f:if(
		condition: '{data.imageorient} == 1 || {data.imageorient} == 9',
		then: ' text-right')}{f:if(
		condition: '{data.imageorient} == 2 || {data.imageorient} == 10',
		then: ' text-left')}{f:if(
		condition: '{data.imageorient} == 17',
		then: ' float-right')}{f:if(
		condition: '{data.imageorient} == 18',
		then: ' float-left')}{f:if(
		condition: '{data.imageorient} >= 0 && {data.imageorient} <= 2',
		then: ' mb-3')}{f:if(
		condition: '{data.imageorient} >= 8 && {data.imageorient} <= 10',
		then: ' mt-3')}{f:if(
		condition: '{data.imageorient} == 17 || {data.imageorient} == 25',
		then: ' ml-3')}{f:if(
		condition: '{data.imageorient} == 18 || {data.imageorient} == 26',
		then: ' mr-3')}">
		<f:if condition="{iconContentSettings.link}">
			<f:then>
				<f:link.typolink parameter="{iconContentSettings.link}" class="d-inline-block">
					<f:render partial="IconContent/Icon/Icon" arguments="{_all}"/>
				</f:link.typolink>
			</f:then>
			<f:else>
				<f:render partial="IconContent/Icon/Icon" arguments="{_all}"/>
			</f:else>
		</f:if>
	</div>
</f:if>

<f:if condition="{iconContentSettings.color}">
	<lo:iconColor iconId="{data.uid}" color="{iconContentSettings.color}" link="{iconContentSettings.link}"/>
</f:if>

</html>
